@font-face {
    font-family: "Ariata Display";
    src: url(fonts/Ariata\ Display\ Bold.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "Ariata Display";
    src: url(fonts/Ariata\ Display\ Black.otf) format("otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: "Ariata Display";
    src: url(fonts/Ariata\ Display\ Medium.otf) format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Ariata Display";
    src: url(fonts/Ariata\ Display\ Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
 }
