:root {
    --header-height-fullscreen: 110px;
    --header-height-width-under-769: 90px;
}

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: 'Ariata', serif;
}

#navbar {
    background-color: #303030;
    height: 110px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    transition: background-color 0.2s ease-out;

    @media screen and (max-width: 769px) {
        padding-inline: 2.5rem;
    }

    @media screen and (max-width: 481px) {
        height: 90px;
        padding: 0.75rem 1.5rem;
    }
}

.logo {
    height: 100%;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;

    @media screen and (max-width: 769px) {
        position: absolute;
        top: calc(var(--header-height-fullscreen) - 2px);
        left: 0;
        right: 0;
        background-color: #303030;
        flex-direction: column;
        align-items: center;
        display: none;
        margin: 0;
        padding: 1rem 1.5rem 1.5rem;
    }

    @media screen and (max-width: 769px) {
        top: calc(var(--header-height-width-under-769) - 2px);
    }
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: color 0.2s ease-out;
}

.nav-links a:hover {
    color: #d2d2d2;
}

/* Hamburger */
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    height: 3px;
    width: 30px;
    background: white;
    border-radius: 2px;
}

@media screen and (max-width: 769px) {
    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

#hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh; /* fallback for older browsers */
    height: 100lvh;
    background-image: url(assets/praliner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;

    @media screen and (max-width: 769px) {
        background-image: url(assets/jul_praliner.jpg);
    }
}

.hero__text-block {
    margin-inline: 10vw;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 80px 80px rgba(0, 0, 0, 0.4);
}

.hero__heading span {
    display: block;
    color: white;
    font-size: clamp(2rem, 3.698vw + 1.1333rem, 3.5rem);
    font-weight: 600;
    letter-spacing: 4px;

    @media screen and (max-width: 481px) {
        letter-spacing: 2px;
    }
}

#about {
    padding: 6rem 2rem;
    display: grid;
    grid-template-columns: minmax(280px, 35%) fit-content(500px);
    grid-template-rows: auto;
    grid-template-areas:
        'image title'
        'image description';
    column-gap: 3rem;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 769px) {
        padding: 4rem 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            'title'
            'image'
            'description';
        grid-gap: 2rem;
    }

    @media screen and (max-width: 481px) {
        padding: 3rem 1.5rem;
        grid-gap: 0.5rem;
    }
}

.about__image {
    grid-area: image;
    width: 100%;
}

.about__title {
    margin: 0 0 1rem;
    justify-self: start;
    align-self: end;
    font-size: 2.375rem;
    font-size: 400;
    grid-area: title;

    @media screen and (max-width: 769px) {
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    @media screen and (max-width: 481px) {
        font-size: 1.875rem;
    }
}

.about__description {
    font-size: 1.4rem;
    line-height: 2rem;
    grid-area: description;
    justify-self: start;
    align-self: start;

    @media screen and (max-width: 481px) {
        font-size: 1.2rem;
        line-height: 1.75rem;
        margin-bottom: 0;
    }
}

#products {
    background-color: #21211f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__inner {
    color: white;
    max-width: 1600px;
    margin: 7.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 769px) {
        margin: 4rem 2.5rem;
    }

    @media screen and (max-width: 481px) {
        margin: 3rem 1.5rem;
    }
}

.products__title {
    font-family: bold;
    font-size: 2.375rem;
    align-self: flex-start;
    margin-bottom: 0.75rem;
    margin-top: 0;

    @media screen and (max-width: 769px) {
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    @media screen and (max-width: 481px) {
        font-size: 1.875rem;
    }
}

.products__subtitle {
    font-size: 1rem;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 3rem;

    @media screen and (max-width: 481px) {
        font-size: 0.875rem;
        max-width: 230px;
        margin-bottom: 2rem;
    }
}

.products__container {
    background-color: white;
    border-radius: 16px;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 4rem;
    padding: 4rem 1.5rem;

    @media screen and (max-width: 769px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        row-gap: 3rem;
        padding: 3rem 1.5rem;
    }

    @media screen and (max-width: 481px) {
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
        padding: 2.2rem 0.75rem;
    }
}

.products__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    gap: 0.5rem;
    width: 100%;
}

.products__item-name,
.products__item-flavours,
.products__item-price {
    margin: 0;
}

.products__item-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.products__item-flavours {
    font-size: 16px;
    color: #d93204;

    @media screen and (max-width: 481px) {
        font-size: 14px;
    }
}

.products__item-price {
    font-size: 18px;

    @media screen and (max-width: 481px) {
        font-size: 16px;
    }
}

.products__item-image {
    width: 100%;
}

#footer {
    background-color: #303030;
    width: 100%;
    max-width: 1600px;
    padding: 6rem 3rem 3rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    box-sizing: border-box;

    @media screen and (max-width: 769px) {
        padding: 4rem 2.5rem 2.5rem;
    }

    @media screen and (max-width: 481px) {
        padding: 3rem 1.5rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__social-links {
    list-style: none;
    padding-left: 0;
    margin: 0 !important;
}

.footer__link {
    margin-bottom: 1rem;

    @media screen and (max-width: 481px) {
        margin-bottom: 0.5rem;
    }
}

.footer__link:last-of-type {
    margin-bottom: 0;
}

.footer__link a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.2s ease-out;

    @media screen and (max-width: 481px) {
        font-size: 1rem;
    }
}

.footer__link a:hover {
    color: #d2d2d2;
}

#footer__mail {
    font-size: 1rem;
    font-style: italic;
    text-transform: lowercase;
}

.footer__logo {
    height: 70px;
    /* align-self: flex-end; */

    @media screen and (max-width: 481px) {
        height: 55px;
    }
}
